<div>
  COMPLETED
  <hr class="black-thick"/>

  <div *ngFor="let toDoItem of toDoItemsList">
      <input type="checkbox" checked (change)="checkValue(toDoItem)" />
      <span *ngIf="!toDoItem.edit" style="text-decoration: line-through">{{ toDoItem.displayName }}</span>
      <input *ngIf="toDoItem.edit" type="text" [(ngModel)]="toDoItem.displayName" />
      <button (click)="toggleEdit(toDoItem)">
          <span *ngIf="!toDoItem.edit">Edit</span>
          <span *ngIf="toDoItem.edit">Save</span>
      </button>
      <button (click)="deleteItem(toDoItem)">Delete</button>
  </div>
  
</div>
