<div>
  <div>ADD ITEM</div>
  <hr class="black-thick"/>

  <form [formGroup]="addForm" class="form-inline">
      
      <div class="form-group">
        <input class="form-control" placeholder="Please enter todo name" formControlName="todoName" size="40"/>
      </div> 
        
      <button class="btn btn-link ml-3" [disabled]="addForm.invalid" (click)="addItem()"><a>Add</a></button>
      
      <div *ngIf="addForm.controls['todoName'].invalid && (addForm.controls['todoName'].dirty || addForm.controls['todoName'].touched)">
          <div *ngIf="addForm.controls['todoName'].errors.required">
            <span style="color:red">Todo Name is required</span>
        </div>    
      </div>
  </form>
</div>
