<div>
  TODO
  <hr/>

  <div *ngFor="let toDoItem of toDoItemsList; let i = index">
      <input type="checkbox" (change)="checkValue(toDoItem)" />
      <span *ngIf="!toDoItem.edit">{{ toDoItem.displayName }}</span>
      <input *ngIf="toDoItem.edit" type="text" [(ngModel)]="toDoItem.displayName">
      <button (click)="toggleEdit(toDoItem)">
        <span *ngIf="!toDoItem.edit">Edit</span>
        <span *ngIf="toDoItem.edit">Save</span>
      </button>
      <button (click)="deleteItem(toDoItem)">Delete</button>
  </div>

</div>
