<div>
  TODO
  <hr/>

  <div *ngFor="let toDoItem of toDoItemsList">
      <input type="checkbox" [(ngModel)]="isChecked" (change)="checkValue(toDoItem)" />
      <span *ngIf="!edit">{{ toDoItem.displayName }}</span>
      <input *ngIf="edit" type="text" [(ngModel)]="toDoItem.displayName">
      <button (click)="toggleEdit()">
        <span *ngIf="!edit">Edit</span>
        <span *ngIf="edit">Save</span>
      </button>
      <button (click)="deleteItem(toDoItem)">Delete</button>
  </div>

</div>
